<footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <span class="text-muted">
                    &copy; {% now "Y" %} TCO Calculator. Все права защищены.
                </span>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        О проекте
                    </li>
                    <li class="list-inline-item">
                        Контакты
                    </li>
                    <li class="list-inline-item">
                        Политика конфиденциальности
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>